@using (Html.BeginForm()) {
    <p>Your Name: @Html.TextBox("Name")</p>
    <p>Your Weight: @Html.TextBox("Weight")</p>
    <p>Your Height: @Html.TextBox("Height")</p>
    <p><input type="submit" value="Submit" /></p>
}