@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<p><b>Hello</b></p>
<p>Hello @ViewBag.Country!</p>
<p>Hello @ViewBag.University!</p>