<h3>Dictionairy with String Key and String value</h3>

Key = KUL and Value = @ViewBag.DictCities["KUL"]
<br />
Key = PEN and Value = @ViewBag.DictCities["PEN"]
<br />
Key = JHB and Value = @ViewBag.DictCities["JHB"]
<br />
Key = KCH and Value = @ViewBag.DictCities["KCH"]
<br />