<h3>Dictionairy with Integer Key and String value</h3>

Key = 1 and Value = @ViewBag.DictNumbers[1]
<br />
Key = 2 and Value = @ViewBag.DictNumbers[2]
<br />
Key = 3 and Value = @ViewBag.DictNumbers[3]
<br />