<p>Student Course Grade</p>
@for (int row = 0; row < ViewBag.Courses.Length; row++) 
{     
    @ViewBag.Students[row] 
    <br/>
    <ul>
        @for (int i = 0; i < ViewBag.Courses[row].GetLength(0); i++) { 
            <li> 
                @for (int j = 0; j < ViewBag.Courses[row].GetLength(1); j++) {
                    @ViewBag.Courses[row][i, j]@:&nbsp;
            } </li>        
        } 
    </ul>
    <br/>
} 